%h1 Reservations

%p Reservations for period: #{@period_from.strftime("%B %-d, %Y")} to #{@period_to.strftime("%B %-d, %Y")}

%table
  - (@period_from.to_date..@period_to.to_date).each do |day|
    %tr
      %th= day.strftime("%A")
      - CalendarService.reservation_intervals(day).each do |time_slot|
        - if time_slot < Time.zone.now || @current_reservations.include?(time_slot.xmlschema)
          %td.unavailable= time_slot.strftime("%l:%M%p").downcase
        - else
          %td= link_to time_slot.strftime("%l:%M%p").downcase, new_reservation_url(reservation_form: { reserved_at: time_slot } )


